<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>
<body>
    <h1>ADD New Products</h1>
    <form action="/products" method="POST">
<input type="text" name="name" placeholder="Product name">
<input type="number" name="price" placeholder="Product Price">
<input type="text" name="desc" placeholder="Product Desc">
<button id="btn">ADD</button>

    </form>
</body>
</html>